streamlit==1.30.0 
openai
anthropic
moviepy==1.0.3  # Pin moviepy
requests
python-dotenv  # For loading .env file locally
pandas         # Useful for handling and displaying data
yt-dlp          # For downloading videos from URLs
beautifulsoup4 # For web scraping
lxml           # Add the lxml parser library
numpy==1.24.3  # Pin numpy (compatible with older moviepy)
pillow
web3==5.31.1
protobuf==3.19.5  # Explicitly pin protobuf to the version web3 needs 